{% extends "adminparent.html" %}
{% block body %}

 {% if messages %}
       {% for messages in messages %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
         <p>{{messages}}</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

       {% endfor %}

     {% endif %}
<div class="row">
    <div class="col-sm-12">
        <h1 style="text-align:center;">Upload Material</h1>
        <form action="{% url 'adminapp:uploadmaterial' %}" method="POST" enctype="multipart/form-data" class="form-group">
            {% csrf_token %}
            <table class="table table-bordered text-light" style="width: 60%; margin: auto;">
                <tr>
                    <td> <label class="form-label">Select Program</label></td>
                    <td>
                        <select name="program" class="form-control text-light" >
                            <option selected>-Select Program-</option>
                            <option value="B.TECH">B.TECH</option>
                            <option value="M.TECH">M.TECH</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td> <label class="form-label">Select Branch</label></td>
                    <td> <select name="branch" class="form-control text-light" >
                            <option selected>-Select Branch-</option>
                            <option value="Computer science">Computer Science</option>
                            <option value="Information Technology">Information Technology</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td> <label class="form-label">Select Year</label>
                    </td>
                    <td> <select name="year" class="form-control text-light" >
                            <option selected>-Select Year-</option>
                            <option value="First Year">First Year</option>
                            <option value="Second Year">Second Year</option>
                            <option value="Third Year">Third Year</option>
                            <option value="Final Year">Final Year</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>Enter Subject Name</td>
                    <td>
                        <input type="text" name="subject" class="form-control text-light">
                    </td>
                </tr>
                <tr>
                    <td>Select Materialtype</td>
                    <td>
                        <select name="materialtype" class="form-control text-light">
                            <option required>-Select Materialtype-</option>
                            <option value="smat">Study Material</option>
                            <option value="assign">Assignment</option>

                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Ente file Name</td>
                    <td>
                        <input type="text" name="filename" class="form-control text-light">
                    </td>
                </tr>
                <tr>
                    <td>Select File Upload</td>
                    <td>
                        <input type="file" name="myfile" class="form-control text-light">
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center;">
                        <button type="submit" class="btn btn-primary ">Submit</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
{% endblock body %}